# --- Python & Environment ---
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
.env
cache

# --- Ray & Training Results ---
ray_results/
~/ray_results/
default_setup/
checkpoints

# --- SUMO Simulation Files ---
*.out.xml
*.log
tripinfo.xml
summary.xml
queue.xml
*.rou.xml
*.rou.alt.xml
*sumocfg
*svg
*map.net.xml
*run_worker*
# --- Jupyter Notebooks ---
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# --- Data & Maps ---
data/
# *.osm

# --- IDEs & OS ---
.vscode/
.idea/
.DS_Store